*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Muli",sans-serif;
    background-color: #1d1d1d;
}
.container{
    height: 330px;
    width: 500px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

}

.container img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.info{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.info a{
    text-decoration: none;
    color: blue;
    background-color: white;
    width: 100px;
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 2rem;
    text-align: center;
    align-self: center;
}

h2{
    width: 400px ;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    
    background: #0a92b4;
}

p{
    font-size: 16px;
    width: 80%;
    text-transform: capitalize;
    align-self: center;
    text-align: center;
    
}

.container{
    background-color:burlywood ;
    border: 10px solid #fff;
}

.container:hover img{
    transform: rotate(360deg) scale(0);
    opacity: 0;
}
.container::before {
    background-color: #27aec0;
    transition: all 0.4sec;
    opacity: 0;
}
.container:hover::before{
    opacity: 1;
    transition-delay: 0.01s;
}
a,
p,
h2{
    transform: translateY(-300px);
    transition: all 0.2s;

}

.container:hover a {
    transform: translateY(0px);
    transition-delay: 0.2s;
}
.container:hover p {
    transform: translateY(0px);
    transition-delay: 0.4s;
}
.container:hover h2 {
    transform: translateY(0px);
    transition-delay: 0.6s;
}
